body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-container{
    width: 100%;
    height: 100vh;
}

.top{
    background: #191919;
    height: 50vh;
}

.bottom{
    background: #2A11C8;
    height: 50vh;
}


.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: auto;

    border-radius: 40px;
    background: #E9EFF3;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
}

.content-container::-webkit-scrollbar {
    display: none;
  }

.profile-wrapper{
    display: flex;
    flex-direction: column;
}

.profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
}

.profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    min-width: 200px;
    background-position: center;
    transition: 0.5s ease;
  }

.profile-picture-container:hover {
    background-image: url('../assets/edit.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}

.profile-picture-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="file"] {
    display: inline-block; /* or display: block; */
}

.picture-selected{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
}

.profile-name{
    font-size: 3rem;
    font-weight: 500;
    padding-left: 5%;
}

.profile-row{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row-header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 5px;
    font-size: 1.6rem;
}

.edit-button{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    transition: 0.5s ease;
}

.edit-button:hover{
    width: 35px;
    height: 25px; 
    padding-left: 10px;
    transition: 0.5s ease;
}

.row-content{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1rem;
}

#location{
    padding: 10px;
    font-size: 1rem;
}

button{
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.message-button{
    width: 60%;
    padding: 20px;
    margin: 5% auto 10% auto;
    border-radius: 40px;
    background: linear-gradient(to top left, #2A11C8, #411256);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.message-button{
    width: 60%;
    padding: 20px;
    margin: 5% auto 10% auto;
    border-radius: 40px;
    background: linear-gradient(to top left, #2A11C8, #411256);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

