.nav-container{
  display: flex;
  justify-content:space-between;
  align-items: center;

  background: #f8f9fa;
}

.nav-title{
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;

  text-decoration: none;
  color: black;
}

.nav-left, .nav-right{
  display: flex;
  align-items: center;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-default,
.nav-selected{
  padding: 10px;
  margin: 10px;

  text-decoration: none;
  color: black;

  transition: 0.4s ease-in;
  border-radius: 20px;
}

.nav-default:hover{
  background: lightgray;
}

.nav-selected{
  border-radius: 20px;
  background: lightgray;
}

.menu-button{
  display: none;
}

@media (max-width: 768px){
  .nav-default,
  .nav-selected{
    display: none;
  }

  .menu-button{
    display: block;

    height: 40px;
    width: 40px;

    margin: 10px;
    padding: 5px;

    border: 1px solid grey;
    border-radius: 10px;

    transition: 0.4s ease-in;
  }

  .menu-button:hover{
    background: lightgray;
    transition: 0.4s ease-in;
  }

  .d-flex{
    display: none;
  }

  .dropdown-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%; 
    height: 100vh; 
    background-color: rgb(248, 249, 250, 0.5); 
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: 1;
  }

  .dropdown-list{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .dropdown-default{
    padding: 30px;
  
    text-decoration: none;
    color: black;
  
    transition: 0.4s ease-in;
    background: none;
  }
  .dropdown-default:hover{
    background: lightgray;
  }

  .dropdown-selected{
    padding: 30px;
  
    cursor: default;
    text-decoration: none;
    color: black;
  
    transition: 0.4s ease-in;
    background: none;
  }
}
