

.searchBar input{
    display: flex;
    width : 398px;
    height: 73px;
    flex-shrink: 0;
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;

    
    font-size: 32px;
    color: gray;
}

