.mainSearch .navbar .form-control {
  background-color: black;
  color: white;
  border: none;
  height: 75pt;
  width: 400pt;
}

.mainSearch .navbar .form-control::placeholder {
  color: white;
  font-size: 64px;
}

.form-inline {
  margin: auto;
  text-align: center;
}

.searchFilterFields {
  background-color: #ffffff;
  color: black;
  display: grid;
  gap: 5px;
  height: 587px;
  max-height: 85%;
  margin: auto;
  border-radius: 16px;
  width: 35%;
}

.searchFilterFields select {
  margin: auto;
  margin-top: -50px;
  width: 200px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #d9d9d9;
  text-decoration: none;
  font-size: 24px;
  color: #000;
}

.searchFilterFields label {
  margin: auto;
  margin-bottom: 50px;
  color: #000;
  font-family: Kanit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#mainOuter {
  margin: auto;
}

.priceContainer {
  display: grid;
}

.priceCalculation {
  display: flex;
  padding-top: 10px;
  margin: auto;
  gap: 10px;
}

.priceCalculation input {
  width: 247px;
  font-size: 32px;
  color: #000;
}

#searchListing {
  width: 900px;
  margin-top: 10px;
  background-color: #000000;
  border: 3px solid white;
  color: white;
  border-radius: 5px;
}

#Keywords {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
