.mainLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url("../assets/NYC-Bridge2.jpeg");
  background-color: rgb(0, 0, 0);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.login-form {

  text-align: center;
  font-size: 28px;
  width: 500px;
  height: 500px;
  background-color:  rgb(52, 52, 52);
  padding: 20px 40px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: rgb(227, 227, 227);
  border-radius: 2rem;
}
.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 3rem;
}

.username-box,
.password-box {
  width: 100%;
  position: relative;
  height: 50px;
  margin: 30px 0;
  margin-bottom: 5rem;
}

.username-box input,
.password-box input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: snow;
  font-size: 18px;
}



.register-link {
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
}

.register-link Link {
  text-decoration: none;
  color: white;
}

.register-link a:hover {
  background-color: pink;
}

.username-box input::placeholder {
  color: white;
  font-weight: 700;
}

.password-box input::placeholder {
  color: white;
  font-weight: bold;
}

button.login {
  width: 90%;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 3rem;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  font-weight: 500;
}

#back{
  position: relative;
  border-radius: 2rem;

}
