body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    
}

.background-container{
    width: 100%;
    height: 100vh;
}

/* .top{
    background: #191919;
    height: 45%;
} */

/* .bottom{
    background: #2A11C8;
    height: 100%;
} */


/* .content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    overflow: auto;

    border-radius: 40px;
    background: #E9EFF3;

    box-shadow: 20px 40px 25px rgba(0, 0, 0, 1);
} */
.content-container{
    position: relative;
    display: flex;
    top: 10%;
    background-color: rgb(29, 29, 29);
    border-radius: 3rem ;
    flex-direction: column;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-left: 30%;
    margin-right: 30%;
    height: 130%;
   
  
}
.content-container::-webkit-scrollbar {
    display: none;
  }

.profile-wrapper{
    display: flex;
    flex-direction: column;
}

.profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 250px;
}

.profile-header{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 90px;
    height:200px;
    min-width: 200px;
    background-position: center;
    transition: 0.5s ease;
  }

.profile-picture-container:hover {
    background-image: url('../assets/edit.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.385);
    transition: 0.3s ease;
}

.profile-picture-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="file"] {
    display: inline-block; /* or display: block; */
}

.picture-selected{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
}

.profile-name{
    font-size: 3rem;
    font-weight: 500;
    padding-left: 5%;
}

.profile-row{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: 10%;
    margin-right: auto;
}

.row-header{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border-bottom: 2px solid rgb(38, 38, 38);
    width: 10rem;
    padding: 5px;
    font-size: 1.6rem;
    background-color: rgb(52, 52, 52);
    color: rgba(255, 251, 251, 0.767);
}

.edit-icon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 6px;
    transition: 0.5s ease;
}

.edit-icon:hover{
    width: 35px;
    height: 25px; 
    padding-left: 10px;
    transition: 0.5s ease;
}

.row-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
}

#location,
#about-me{
    padding: 10px;
    font-size: 1rem;
}
#about{
   padding-bottom: 10rem;
}

button.edit-button{
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
}

.message-button{
    width: 20%;
    padding: 5px;
    border-radius: 40px;
    background: linear-gradient(to top left, #73c811, #b1dd10);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: 7rem;
    left: 40%;
}

.edit-mode{
    margin: 10px;
    padding: 6px;
    padding-right: 15rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(69, 69, 69);
}

.plus-minus{
    border-radius: 1rem;
    border-color:  transparent;
    margin-left: 40px;
    font-weight: 1000;
    background-color: rgb(52, 52, 52);
}
