.resultsSuggestion {
  margin-left: 500px;
  display: flex;
  color: white;
}

.resultsSuggestion select {
  margin: auto;

  margin-bottom: 50px;
  width: 500px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #d9d9d9;
  text-decoration: none;
  font-size: 24px;
  color: #000;
}
