.mainRegisterBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url("../assets/NYC-Bridge2.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.Register-form {
  text-align: center;
  font-size: 28px;
  width: 700px;
  background-color:  rgb(52, 52, 52);
  padding: 20px 40px;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
}
.header {
  font-size: 48px;
  text-align: center;
  color: white;
}

.fName-box,
.password-box,
.surname-box,
.email-box,
.confirmPassword-box {
  width: 100%;
  position: relative;
  height: 50px;
  margin: 30px 0;
}

.fName-box input,
.password-box input,
.surname-box input,
.email-box input,
select,
.confirmPassword-box input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: snow;
  font-size: 18px;
}

.register-link {
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
}

.register-link link {
  text-decoration: none;
}

.register-link a:hover {
  background-color: pink;
}

.fName-box input::placeholder,
.surname-box input::placeholder,
.email-box input::placeholder,
.password-box input::placeholder,
.confirmPassword-box input::placeholder {
  color: white;
  font-weight: 700;
}

button.login {
  width: 90%;
  height: 50px;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
